__pycache__/

.ipynb_checkpoints/
.idea/
result_newvgg_1shot/
src/feature_encoder_trained/
src/relation_network_trained/
.DS_Store
new_data.zip
new_data/
models/
data/
data_pascal5i/
dataset_test/
test.py
test_entrypoint.py









